<!DOCTYPE html>
<html>
<head>
	<title>Create Assignment</title>
	
  <meta content="width=device-width, intial-scale=1" name="viewport" />
	
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/createAssignment.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar-brand" href="/class" style="margin-left: 10px;"> 
            <img src="https://img.icons8.com/color/48/000000/class.png"/> Academia
          </a>
          <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item active">
                      <a 
                        class="nav-link hover-underline-animation" 
                        href="/class"
                      >
                        MyClasses <span class="sr-only">(current)</span>
                      </a>
                    </li>			  
                    <li class="nav-item"> 
                      <a class="nav-link hover-underline-animation" href="/logout"> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="classInfo">
        <div class="className" style="text-transform: capitalize;"><h2> <%= className %></h1></div>
        <div class="Teachername">
            <i class="fas fa-chalkboard-teacher"
                 style="padding-top: 5%; padding-right: 10px;" >
            </i>
            <h3 style="text-transform: capitalize;"> <%= teacherName %> </h3>
        </div>
    </div>
    <div class="assignment-form">
        <div class="login-box">
            <h2>Create Assignment</h2>
            <form action="/class/<%= classId %>/assignment" method="POST" enctype="multipart/form-data" id="assign-form">
              <div class="user-box">
                <input type="text" name="title" required="">
                <label>Title</label>
              </div>
              <div class="user-box">
                <textarea name="description" required=""></textarea>
                <label>Description</label>
              </div>
              <div class="user-input-box" style="display: flex;">
                <label for="file-input">Upload</label>
                <input type="file" id="file-input" name="filename" required="">                
              </div>
              <div class="submit-button">
                <button type="submit" form="assign-form" value="Submit">Submit</button>
              </div>
            </form>
          </div>
    </div>
	
</body>
</html>